<?xml version="1.0"?>
<service-group>
    <name>MQTT Broker</name>
    <service>
        <type>_mqtt._tcp</type>
        <port>1883</port>
        <!--host-name>mosquitto</host-name-->
    </service>
</service-group>